<form class="diff-form" ng-submit="submitForm(true)"> <span ng-repeat="diff in diffs"> <input type="hidden" name="data:{{$index}}:filename" value="{{diff.relpath}}"> <textarea name="data:{{$index}}:filecontent" class="hidden"></textarea> <pre processing-diff class="diff" left-obj="diff.left" right-obj="diff.right" options="diffOptions"></pre> </span> <button type="submit" class="btn btn-primary" ng-if="can_commit">Commit</button> </form> <script type="text/ng-template" id="commit.html"><div class="modal-header">
      <h3 class="modal-title">Commit message</h3>
  </div>
  <div class="modal-body">
    <textarea class="form-control" ng-model="message"></textarea>
  </div>

  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary" ng-click="ok()">OK</button>
  </div></script>