<div class="row file-navigation">
  <div class="col-md-8">
    <files class="row" data="files" checkbox="true"></files>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default" ng-if="opened_files.length">
      <div class="panel-heading">Last opened files</div>
      <div class="panel-body">
        <div ng-repeat="f in opened_files">
          <span ng-if="f.user">
          <a href="#{{ UrlFactory.url(f.user, 'xml/edit', {path: f.path}) }}"><i class="fa fa-file-excel-o"></i> {{f.path}} ({{f.user}})</a>
         </span>
          <span ng-if="!f.user">
          <a href="#{{ UrlFactory.url(UserProfile.login, 'xml/edit', {path: f.path}) }}"><i class="fa fa-file-excel-o"></i> {{f.path}}</a>
         </span>
        </div>
      </div>
    </div>

    <br />
    <br />

    <div class="panel panel-default" ng-if="commited_files.length">
      <div class="panel-heading">Last commited files</div>
      <div class="panel-body">
        <div ng-repeat="f in commited_files">
          <a href="#{{ UrlFactory.userUrl('xml/edit', {path: f.path}) }}"><i class="fa fa-file-excel-o"></i> {{f.path}}</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div ng-if="AccountProfile.has_versioning" class="alert alert-info versioning-legend">
<p><strong>Legend of the different colors:</strong></p>
<br />
<ul class="list-unstyled">
  <li>
	<i class="fa fa-file-excel-o"></i>
	This file/folder is normal, no modification has been done.
  </li>
  <li class="versioning-modified">
	<i class="fa fa-file-excel-o"></i>
	This file/folder is modified.
  </li>
  <li class="versioning-conflicted">
	<i class="fa fa-file-excel-o"></i>
	This file is conflicted. It comes when someone else update the same part of XML than you, you need to fix it.
  </li>
  <li class="versioning-unversioned">
	<i class="fa fa-file-excel-o"></i>
	This file/folder is new.
  </li>
  <li class="versioning-other">
	<i class="fa fa-file-excel-o"></i>
	This status should not come to you. If it's the case please make an update of the repository. If the problem persists contact your administrator.
  </li>
</ul>
</div>
