<form ng-submit="newSearch()">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <input type="text" class="form-control" id="search" name="search" placeholder="Search" ng-model="search.search" />
      </div>
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" id="path" name="path" placeholder="Path (search in all the files by default)" ng-model="search.path" />
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="folderModal()">Select a folder</button>
          </span>
        </div>
      </div>
      <div class="form-group">
        <select class="form-control" name="filetype" ng-model="search.filetype">
          <option ng-repeat="filetype in filetypes" value="{{filetype.value}}" ng-selected="filetype.value == search.filetype">{{filetype.text}}</option>
        </select>
      </div>
      <div class="form-group" ng-if="search.filetype == '.xml'">
        <div class="input-group">
          <input type="text" class="form-control" id="path" name="path" placeholder="Search in specific tag name (Optional)" ng-model="search.tag" />
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="tagModal()">Select a tag name</button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Search</button>

</form>

<br />
<br />
<br />


<div ng-if="pageLoaded && !results.length">No result!</div>

<div ng-repeat="result in results">
  <i class="fa fa-file-excel-o"></i>
  <a href="#{{UrlFactory.userUrl('xml/edit', {path: result.path }) }}">{{result.path}}</a>

  <div ng-repeat="excerpt in result.excerpts">
    <p ng-bind-html="excerpt"></p>
  </div>
</div>


<pagination ng-if="totalItems > itemsPerPage" boundary-links="true" total-items="totalItems" ng-model="search.page" max-size="maxSize" items-per-page="itemsPerPage" rotate="false" ng-change="pageChanged()" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>



<script type="text/ng-template" id="search-folder.html">
  <div class="modal-header">
      <h3 class="modal-title">Select a folder</h3>
  </div>
  <div class="modal-body">
    <div class="breadcrumb" ng-if="breadcrumbFiles.length">
      <li ng-repeat="file in breadcrumbFiles">
        <a ng-if="isDefined(file.path)" href="" ng-click="selectFolder(file.path)">{{file.name}}</a>
        <span ng-if="!isDefined(file.path)">{{file.name}}</span>
      </li>
    </div>
    <div class="row">
      <div class="col-md-6" ng-repeat="file in files">
        <a ng-if="file.type === 'folder'" href="" ng-click="selectFolder(file.link)"><i class="fa fa-folder-o"></i> {{file.name}}</a>
      </div>
    </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary" ng-click="select()">Select</button>
  </div>
</script>

<script type="text/ng-template" id="tag-modal.html">
  <div class="modal-header">
      <h3 class="modal-title">Select a XML tag</h3>
  </div>
  <div class="modal-body">
      <select ng-change="updateDtdTags()" ng-model="dtd_url">
        <option ng-repeat="dtd in AccountProfile.dtd_urls">{{dtd}}</option>
      </select>

      <select ng-model="dtd_tag">
        <option ng-repeat="tag in dtdTags">{{tag}}</option>
      </select>

  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary" ng-click="ok()">OK</button>
  </div>
</script>
