<span ng-if="ok">
  <pre ng-bind-html="diff"></pre>
  
  <a ng-confirm-click="Are you sure you want to revert the modification applied to this file?" class="btn btn-danger" ng-click="doRevert()">Revert</a>
  <button type="button" class="btn btn-success" ng-click="doCommit()" ng-if="can_commit">Commit</button>
</span>

<span ng-if="!ok">
  The file is not modified
</span>

<!-- TODO: Fix this, it's a copy/paste from versioningdiff.html  -->
<script type="text/ng-template" id="commit.html">
  <div class="modal-header">
      <h3 class="modal-title">Commit message</h3>
  </div>
  <div class="modal-body">
    <textarea class="form-control" ng-model="message"></textarea>
  </div>

  <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary" ng-click="ok()">OK</button>
  </div>
</script>
