<span ng-if="!done">Update in progress</span>

<span ng-if="done">
  <div class="panel panel-default" ng-if="length">
    <div class="panel-heading">The repository has been updated! List of recently updated files:
    <div class="panel-body">
      <ul class="list-unstyled">
        <li ng-repeat="file in files" >
          <span class="label label-{{file.status}}">{{file.status}}</span>
          <a ng-if="file.addLink" href="#{{UrlFactory.userUrl('xml/edit', {path: file.path})}}">{{file.path}}</a>
          <span ng-if="!file.addLink">{{file.path}}</span>
        </li>
      </ul>
    </div>
  </div>
  <span ng-if="!length">The repository was already updated!</span>
</span>
